{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ user.first_name }}'s Profile</h2>
    <!-- Add more fields as needed -->
</div>

    <div class="container mt-3">
    <h2>Hall Pass Records </h2>
    <h4>{{ count }} records found.</h4>
    <table id="studentsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for pass in passes %}
            <tr>
                <th scope="row">{{ pass.student }}</th>

                {% load tz %}

                {% timezone "America/Chicago" %}
                <th scope="row">{{ pass.date|date:"F j, P" }}</th>
                {% endtimezone %}
                <td>{{ pass.details }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No pass records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Include DataTables scripts -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<script>
$(document).ready(function() {
    $('#studentsTable').DataTable({
        "pagingType": "full_numbers" // You can use simple numbers or full pagination controls
    });
});
</script>
{% endblock %}
