{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Pass Records Count</h2>

    <table id="studentsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">Times Left Class</th>
                <th scope="col">Print New Pass</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students_with_passes %}
            <tr>
                <th scope="row"><a href="{% url 'view' student.id %}">{{ student }}</a> </th>
                <td>{{ student.passes_count }}</td>
                <th scope="row"><a class="btn btn-info" href="{% url 'pass' student.id %}" role="button">Print New Pass</a> </th>

            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No pass records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Include DataTables scripts -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

<script>
$(document).ready(function() {
    $('#studentsTable').DataTable({
        "pagingType": "full_numbers" // You can use simple numbers or full pagination controls
    });
});
</script>
{% endblock %}
